html{
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 12px;
}

.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows:8% auto;
    grid-template-columns: 20% auto;

}

/* Tab */
.tab{
    background-color: #0f4020;
    padding-left: 26rem;
    grid-column: 1/3;
    justify-content: center;
    border: 2px solid #0f4020;

}
    
    .tab h2{
        font-size: 1.3rem;
        line-height: 0;
        color: #f4efef;
    }


    .tab button {
        height: 100%;
        width: 9rem;
        border: 0;
        background-color: transparent;
        border: none;
        padding: 10px;
        position: relative;
        gap: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        }
      
        .tab button:not(:active):hover,
        .tab button:focus {
            background-color:#0c4922;
        }
        
        .tab button:focus,
        .tab button:active {
            background-color: #0c4922;
            outline: none;
        }
        
        .tab button:focus::before,
        .tab button:active::before {
            opacity: 1;
        }
        .tab button::before {
            content: "";
            position: absolute;
            top: 40px;
            right: 0px;
            width: 100%;
            height: 2px;
            background-color:#f4efef;
            border-radius: 5px;
            opacity: 0;
    }
      
    
/* Info usuario */
.usuario{
    grid-row: 2/3;
    text-align: center;
    padding: 1rem;
}

    .nombre{
        margin-top: 4rem;
        font-size: 3.5rem;
        
    }
    .imagen img{
        margin-top: 3rem;
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        border: 1px solid #0f4020;
    }
    
    .fecha{
        margin-top: 5rem;
        font-size: 1.5rem;
        
    }

/* Tab perfil */
#tabperfil{
    padding: 6% 5%;
    
}
    .bio{
        width: 60%;
        height: 25%;
        border: 1px solid #0f4020;
        border-radius: 1%;
    }

    .frec{
        width: 80%;
        height: 60%;
        margin: 4rem 0rem;
        border: 1px solid #0f4020;
        border-radius: 1%;
    }
    #tabperfil h2{
        margin: 1rem;
    }

/* Tab opiniones */
#tabopinion{
    margin: 3% 5%;
}
    #tabopinion .listado{
        width: 80%;
        height: 100%;
        border: 1px solid #0f4020;
        overflow-y: auto;
        border-radius: 1%;
        padding: 2rem 1rem 1rem 1rem ;
        

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #tabopinion .caja{
        width: 43%;
        height: 36%;
        border: 1px solid #0f4020;
        margin: 1.5rem 2rem;
        border-radius: 1%;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 15% 10% auto;
        justify-content: start;
    }
    #tabopinion .caja p{
            line-height: 1;
        }

    

/* Tab guardados */
#tabguardado{
    margin: 3% 5%;
}
    #tabguardado .listado{
        width: 80%;
        height: 100%;
        border: 1px solid #0f4020;
        overflow-y: auto;
        border-radius: 1%;
        padding: 1rem 1rem 1rem 1rem ;
        

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content:flex-start;
    }
    #tabguardado .caja{
        border: 1px solid #0f4020;
        margin: 1rem 1rem;
        border-radius: 1%;
    
        width: 20%;
        height: 20%;
        display: flex;
        align-items: center;
        
    }
        .caja span{
            width: 100%;
            text-align: center;
        }

    #tabguardado .listado p{
        width: 100%;
        height: 1rem;
        font-size: 1.5rem;
        padding-left: 2.5rem;
        line-height: 0.8;
    }

    
    
/* Tab gral */

.titulo{
    font-size: 2rem;
}
/*
.listado{
    width: 80%;
    height: 100%;
    border: 1px solid #0f4020;
    overflow-y: auto;
    border-radius: 1%;
    padding: 2rem 1rem 1rem 1rem ;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.caja{
    width: 43%;
    height: 36%;
    border: 1px solid #0f4020;
    margin: 1.5rem 2rem;
    border-radius: 1%;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 15% 10% auto;
    justify-content: start;
}
    .caja p{
        line-height: 0;
    }*/
